@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
      themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
      font-family: "BioRhyme", serif;
}

.font2 {
      font-family: "League Spartan", sans-serif;
}


